[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "SwiftyJSON"]
	path = SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "Alamofire-SwiftyJSON"]
	path = Alamofire-SwiftyJSON
	url = https://github.com/SwiftyJSON/Alamofire-SwiftyJSON.git
