<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InstagramClientId</key>
	<string>bd64815687294d9099daf473283a32f2</string>
	<key>InstagramRedirectURL</key>
	<string>http://swift-test</string>
</dict>
</plist>
